//colors
$main: #3E98CB;
$main2: #0e5985;
$main3: #021531;
$text: #062452;
$strike: #F5FBFE;
$strike2: #d2e8f3;

:root {
  --back: #3E98CB;
  --back2: #0e5985;
}

//fonts
$paprika: 'Paprika', cursive;
$os: 'Open Sans', sans-serif;
$jap: 'Noto Serif JP', serif;