@import "~normalize.css";

@import "modules/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Open+Sans:wght@600&family=Paprika&display=swap");

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}
html {
	box-sizing: border-box;
	margin: 0;
	font-family: $os;
	line-height: 1.5;
	font-size: 16px;
}

body {
	background: $main;
	color: $strike;
	height: 100vh;
	overflow: hidden;
}
a,
a:active,
a:focus {
	outline: none;
	box-shadow: none;
	border: none;
	background: $main;
	color: $strike;
}

main {
	width: 100%;
	margin: 0;
	height: 100%;
}

.header {
	padding: 1rem 0;
}
.frame {
	height: calc(100vh - 120px);
	width: 100%;
	padding: 0 1rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__levels {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		max-width: 300px;
		padding-bottom: 16px;
	}
	&__level {
		top: 0;
		height: 100%;
		& > h2 {
		margin-bottom: 0;
}
	}
	&__history {
		height: calc(100vh - 1rem);
		position: absolute;
		top: 1rem;
	}
	&__standard {
		height: 100vh;
		position: absolute;
		top: 0;
		justify-content: center;
		text-align: center;
	}
	&__text {
		padding: 16px;
		max-width: 320px;
		margin: 0;
		text-align: center;
	}
	&__done {
		height: 100vh;
		justify-content: center;
		top: 0;
		& > p {
			margin: 0;
		}
	}
	&__part {
		height: 100vh;
		top: 0;
		width: 100%;
		& > p {
			text-align: center;
			max-width: 260px;
			font-size: 1.4rem;
		}
	}
	&__modify {
		height: 100vh;
		position: absolute;
		justify-content: center;
		top: 0;
	}
	&__repeat {
		text-align: center;
		height: 100vh;
		top: 0;
	}
	&__action {
		height: 100vh;
		top: 0;
	}
}

.subframe {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 45%;
		width: 60%;
		& > svg {
			max-height: 150px;
			max-width: 300px;
		}
	}
	&__box {
		height: 55%;
		width: 100%;
		& > div {
			position: absolute;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__counter {
		position: absolute;
		top: 35%;
	}
}

.subframe2 {
	position: fixed;
}

.button {
	width: 180px;
	padding: 12px 16px;
	border-radius: 8px;
	border: 4px solid $stroke;
	margin: 1rem;
	&__level {
		height: 60px;
		width: 60px;
		margin: 8px;
		border-radius: 12px;
		font-size: 1.2rem;
		border: 4px solid $stroke;
	}
	&__back {
		height: 48px;
		width: 92px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		text-align: right;
		padding-right: 8px;
		background: $stroke;
	}
	&__main {
		background: $stroke;
		color: $main;
		position: absolute;
		top: 135%;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		font-size: 1.5rem;
		box-shadow: 0px 0px 12px 12px rgba(252, 231, 98, 1);
		margin: 0;
	}
	&__secondary {
		background-color: $pink;
		color: $strike;
		font-size: 1.2rem;
		border: none;
	}
	&__done {
		margin-bottom: 2rem;
	}
}
.arrow {
	position: absolute;
	left: 12px;
	top: 8px;
}

.muscles {
	width: 70%;
	max-width: 300px;
	text-align: center;
	font-size: 2rem;
}

.hide {
	visibility: hidden;
}

.quote {
	font-family: $paprika;
	background-image: url(https://github.com/michal-krawczyk10/opm/blob/master/src/assets/img/saitamaQuotepng.png?raw=true);
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 0 1rem;
	min-height: 203px;
	min-width: 300px;
	position: relative;
	&__text_box {
		position: absolute;
		top: 8%;
		right: 7%;
		width: 40%;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text {
		font-size: 0.8rem;
		color: $main;
	}
}

.history {
	width: 100%;
	height: 100%;
	&__header {
		font-size: 1.2rem;
		text-align: center;
		margin: 0;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__today {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__textbox {
		margin-left: 2rem;
		width: 120px;
	}
}

.icons {
	width: 64px;
	height: 64px;
}

.logo {
	width: 50%;
	max-width: 180px;
	margin: 10px auto 0 auto;
}

.container {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__history {
		justify-content: space-around;
	}
}
