@import "~normalize.css";

@import "modules/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Open+Sans:wght@600&family=Paprika&display=swap");


*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}
html {
	box-sizing: border-box;
	margin: 0;
}

body {
  background: $main;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {max-width: 320px;}